body {
  min-height: 100vh;
  background-image: url(/asset/image/background-img.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
}

/** ヘッダー構築部 */
header#header {
  width: 100vw;
  height: 0;
  position: sticky;
  z-index: 30;
  top: 0;
}
.header-img {
  width: 100vw;
}
#link-out:hover {
  cursor: pointer;
}

/** コンテンツ部 */
.container__ticket {
  display: flex;
  justify-content: center;
}
.box__ticket {
  width: 82vw;
  border: 2px solid var(--strong-color);
  padding: 1.5vw;
}
.box__ticket-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  clip-path: polygon(
    100% 80%,
    100% 100%,
    80% 100%,
    80% 98%,
    20% 98%,
    20% 100%,
    0% 100%,
    0% 80%,
    2% 80%,
    2% 20%,
    0% 20%,
    0% 0%,
    20% 0%,
    20% 2%,
    80% 2%,
    80% 0%,
    100% 0%,
    100% 20%,
    98% 20%,
    98% 80%
  );
}

.box__izakaya {
  display: flex;
  width: 74vw;
}
.part__owner-icon > img {
  width: 20vw;
  object-fit: scale-down;
}
.part__izakaya-name {
  position: relative;
  width: 51vw;
}
.part__izakaya-name-bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part__izakaya-name-bg > p {
  width: 106vw;
  color: var(--strong-color);
  transform: scale(0.6, 2.3);
  font-weight: 900;
  font-size: 10vw;
  text-align: center;
  opacity: 0.4;
  flex-shrink: 0;
}

.part__izakaya-name-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.part__izakaya-name-text > p {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.part__price-text > p {
  color: black;
  font-size: 5vw;
}
.bill-text > p {
  color: gray;
  font-size: 3vw;
}

/** モーダル部品 */
.container__loading {
  display: none;
}
.container__loading.active {
  display: block;
}
.box__modal {
  position: fixed;
  top: 0;
  z-index: 300;
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.box__modal.active {
  visibility: visible;
}
.part__modal-title {
  font-size: 6vw;
}
.part__modal-text > p {
  font-size: 5vw;
  color: white;
  text-align: center;
}
.part__btn-top {
  border: solid 1px white;
  padding: 2vw 4vw;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
}

.part__btn-top > a {
  font-size: 3vw;
  color: white;
}
/** 共通パーツ */
.square-fill {
  display: flex;
  width: 33.3vw;
  height: 6.6vw;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  background-color: var(--strong-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}
