body {
  min-height: 100vh;
}

/** ヘッダー構築部 */
header#header {
  width: 100vw;
  position: sticky;
  z-index: 30;
  top: -37vw;
}
.header-img {
  width: 100vw;
  position: relative;
}
.header-img > img {
  width: 100%;
}
.part__link-top > a {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  z-index: 3;
}

/** コンテンツ部 */

.background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(/asset/image/background-img.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}
section#section {
  display: flex;
  flex-direction: column;
}

.container__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__ticket {
  display: flex;
  justify-content: center;
}
.box__ticket {
  width: 82vw;
  border: 2px solid var(--strong-color);
  padding: 1.5vw;
}
.box__ticket-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  clip-path: polygon(
    100% 80%,
    100% 100%,
    80% 100%,
    80% 98%,
    20% 98%,
    20% 100%,
    0% 100%,
    0% 80%,
    2% 80%,
    2% 20%,
    0% 20%,
    0% 0%,
    20% 0%,
    20% 2%,
    80% 2%,
    80% 0%,
    100% 0%,
    100% 20%,
    98% 20%,
    98% 80%
  );
}
.part__ticket-title > p {
  font-size: 3vw;
}

.box__izakaya {
  display: flex;
  width: 74vw;
}
.part__owner-icon > img {
  width: 20vw;
  object-fit: scale-down;
}
.part__izakaya-name {
  position: relative;
  width: 51vw;
}
.part__izakaya-name-bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part__izakaya-name-bg > p {
  color: var(--strong-color);
  transform: scale(0.6, 2.3);
  font-weight: 900;
  font-size: 10vw;
  text-align: center;
  opacity: 0.4;
  flex-shrink: 0;
}
_::-webkit-full-page-media,
_:future,
:root .part__izakaya-name-bg > p {
  transform: scale(0.45, 2.3);
  font-weight: 600;
}

.part__izakaya-name-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.part__izakaya-name-text > p {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 4vw;
}

.part__price-text > p {
  color: var(--text-color-light-bg);
  font-size: 5vw;
}
.part__bill-text > p {
  color: gray;
  font-size: 3vw;
}

/** モーダル部品 */
.container__loading {
  display: none;
}
.container__loading.active {
  display: block;
}
.box__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.box__modal.active {
  visibility: visible;
}
.part__modal-title {
  font-size: 6vw;
}
.part__modal-text > p {
  font-size: 5vw;
  color: white;
  text-align: center;
}
.part__btn-top {
  border: solid 1px white;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
}

.part__btn-top > a {
  padding: 2vw 4vw;
  font-size: 3vw;
  color: white;
}
/** 共通パーツ */
.square-fill {
  display: flex;
  width: 33.3vw;
  height: 6.6vw;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  background-color: var(--strong-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}

/** card-input.css を背景手前に浮かせる */
#section,
.wrapper {
  position: relative;
  z-index: 3;
}

/** ディスプレイサイズ1024px以上での表示時 */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /** ヘッダ部 */
  header#header {
    width: 1024px;
    top: -390px;
  }
  .header-img {
    width: 1024px;
  }
  .part__link-top {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%),
      linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%);
  }
  /** コンテンツ部 */
  .background-img {
    width: 1024px;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%),
      linear-gradient(270deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%),
      url(/asset/image/background-img.jpg);
  }

  .header-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 塗りつぶす */
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%),
      linear-gradient(270deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 10%);
  }
  .container__ticket {
    /* width: 686px; */
  }
  .box__ticket {
    width: 820px;
    border: 2px solid var(--strong-color);
    padding: 15px;
  }
  .part__ticket-title {
    font-size: 20px;
  }

  .box__izakaya {
    width: 740px;
  }
  .part__owner-icon > img {
    width: 200px;
  }
  .part__izakaya-name {
    width: 510px;
  }
  .part__izakaya-name-bg > p {
    font-size: 100px;
  }

  .part__izakaya-name-text > p {
    letter-spacing: 0.2em;
    font-size: 30px;
  }

  .part__price-text > p {
    font-size: 50px;
  }
  .part__bill-text > p {
    font-size: 30px;
  }

  /** モーダル部品 */
  .part__modal-title {
    font-size: 45px;
  }
  .part__modal-text {
    width: 50%;
  }
  .part__modal-text > p {
    font-size: 30px;
  }
  .part__btn-top {
    border-radius: 20px;
  }

  .part__btn-top > a {
    padding: 20px 40px;
    font-size: 30px;
  }

  /** 共通パーツ */
  .square-fill {
    width: 333px;
    height: 66px;
  }
}
