div.izakaya-box {
  position: relative;
}

a.charge-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  z-index: 3;
}

img.owner-icon {
  width: 20vw;
  object-fit: scale-down;
}

* {
  outline: solid 0.8px gainsboro;
}
