section.section {
  margin: 0 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.square {
  position: relative;
  /* height: 64px; */
  height: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 10vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.square:before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: -21px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  -webkit-transform: rotate(-50deg) skew(-10deg); /* -10度傾けて、-50度回転 */
  /* 同時に指定する場合は半角スペースを入れる */
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.square:after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: -21px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  -webkit-transform: rotate(-50deg) skew(-10deg); /* -10度傾けて、-50度回転 */
  /* 同時に指定する場合は半角スペースを入れる */
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 0;
}

.square2 {
  position: relative;
  /* height: 64px; */
  height: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 10vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.square2:before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: -21px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  -webkit-transform: rotate(-45deg) scaleX(0.8);
  transform-origin: right;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.square2:after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: -21px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  -webkit-transform: rotate(-45deg) scaleX(-10%); /* -10度傾けて、-50度回転 */
  /* 同時に指定する場合は半角スペースを入れる */
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 0;
}

/** 以下、実験用 */
body {
  min-height: 100vh;
  /* background-color: rgb(255, 234, 234); */
  background-position: center;
  background-size: cover;
  background-color: gainsboro;
  background-blend-mode: multiply;
}
