@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  /* max-width: 1024px; */
  position: relative;
}

p {
  line-height: 1em;
}

:root {
  --whole-page-vh: 100vw;
  --header-vh: 71.6vw;
  --content-title-size: 5.5vw;
  --content-text-size: 3.4vw;
  --box-number-text-size: 14vw;
  --box-title-text-line-height: 10vw;
  --arrowDown-area-height: 20vw;
  --arrowDown-pict-height: 10vw;
  --arrowDown-pict-width: 20vw;
  --title-height: 47.5vw;
}

@media (min-width: 1025px) {
  :root {
    --whole-page-vh: 1024px;
    --content-title-size: 56.3px;
    --content-text-size: 34.8px;
    --box-number-text-size: 143.4px;
    --box-title-text-line-height: 102.4px;
    --arrowDown-area-height: 204.8px;
    --arrowDown-pict-height: 102.4px;
    --arrowDown-pict-width: 204.8px;
    --title-height: 486.4px;
  }
}

body {
  width: 100%;
  color: var(--text-color);
  position: absolute;
  /* left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0); */
}

#backgroudImage {
  height: 100vh;
  width: var(--whole-page-vh);
  position: fixed;
  z-index: -1000;
  top: 0px;
  left: 0px;
  /* background: url(../asset/image/バックグラウンド.png); */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

#footer {
  position: relative;
  width: var(--whole-page-vh);
  height: 20vw;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 1025px) {
  #footer {
    height: 204.8px;
  }
}

#footer > p {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#main {
  max-width: 1024px;
  position: relative;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif;
  margin-top: -71.6vw;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  #main {
    /* position: relative;
    font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif; */
    margin-top: -733.2px;
  }
}

hr {
  width: 85%;
}

/* ===================== 
レイアウトデバッグ用 
 =====================*/
/* .containers {
  border: 5px solid blue;
}

.area {
  border: 5px solid red;
}

.part {
  border: 5px solid seagreen;
} */

/* ========================================= 

  Position Fixed

========================================= */

/* ヘッダー */
#headder {
  height: var(--header-vh);
  width: var(--whole-page-vh);
  /* position: fixed; */
  z-index: 1000;
  /* height: 71.6vw; */
  position: sticky;
  position: -webkit-sticky;
  top: -35vw;
}
@media (min-width: 1025px) {
  #headder {
    height: 750px;
    top: -358.4px;
    width: 100%;
    /* background-color: yellowgreen; */
    border-width: 100px;
    /* background-color: #0f0; */
    /* text-align: center; */
    /* left: 10%; */
    /* transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0); */
  }
}

#headder_btn_enter {
  position: absolute;
  height: 23vw;
  width: 45vw;
  top: 35vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  #headder_btn_enter {
    top: 350px;
    height: 235.5px;
    width: 460.8px;
  }
}

#headder_btn_enter > a {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #0f0; */
  background: url(../asset/image/enter.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1001;
}

@media (min-width: 1025px) {
  #headder_btn_enter > a {
  }
}

#headder_img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  #headder_img {
    width: 1024px;
    background-size: contain;
    height: 734px;
  }
}

#headder_img div {
  background-repeat: no-repeat;
  background: url(/asset/image/yokocho-header.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-style: none;
}

@media (min-width: 1025px) {
  #headder_img div {
    width: 1024px;
    /* background-size: contain; */
    height: 734px;
  }
}

/* ========================================= 

  Scrolls

========================================= */

/* ===================== 
container定義 
 =====================*/
.containers {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid blue; */
}

#container_aboutThisService {
  background-color: #ffffff;
  height: 200vw;
}

@media (min-width: 1025px) {
  #container_aboutThisService {
    height: 2048px;
  }
}

#container_AllowingAnonymous {
  height: auto;
  width: var(--whole-page-vh);
}

#container_guide {
  background-color: #7c7c7c;
  height: 75vw;
}

@media (min-width: 1025px) {
  #container_guide {
    height: 768px;
  }
}

#container_howToEnjoy {
  height: auto;
}

#container_recommendedFor {
  height: auto;
}

#container_howToUse {
}

#container_topImage {
  height: 215vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #container_topImage {
    height: 2201.6px;
  }
}

/* ===================== 
area定義 
 =====================*/
.area {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid red; */
}

#area_aboutThisService_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_aboutThisService_outline {
  height: 50vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_aboutThisService_outline {
    height: 512px;
  }
}

#area_aboutThisService_title {
  color: white;
  height: 40vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_aboutThisService_title {
    height: 409.6px;
  }
}

#area_aboutThisService_image {
  height: 90vw;
  width: 65vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  #area_aboutThisService_image {
    height: 921.6px;
  }
}

#area_AllowingAnonymous_image {
  height: 41.5vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_AllowingAnonymous_image {
    height: 425px;
  }
}

#area_AllowingAnonymous_outline {
  height: 30vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_AllowingAnonymous_outline {
    height: 307.2px;
  }
}

#area_guide_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_guide_image {
  height: 25vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_guide_image {
    height: 256px;
  }
}

#area_guide_outline {
  height: 30vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  #area_guide_outline {
    height: 307.2px;
  }
}

#area_howToEnjoy_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_howToEnjoy_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
  /* background-color: tomato; */
}

#area_howToUse_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
}

#area_recommendedFor_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_recommendedFor_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
  /* background-color: tomato; */
}

#area_topImage_main {
  height: 100%;
  width: 100%;
}

/* ===================== 
part以下定義 
 =====================*/
#part_aboutThisService_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_aboutThisService_arrowDown_pict > div {
  position: absolute;
  background: url(../asset/image/arrowDownGray.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

#part_aboutThisService_image_pict {
  position: absolute;
  height: 80vw;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

@media (min-width: 1025px) {
  #part_aboutThisService_image_pict {
    height: 819.2px;
  }
}

#part_aboutThisService_image_pict div {
  height: 100%;
  /* background: url(../asset/image/flattoとは.png); */
  background-size: contain;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

#part_aboutThisService_outline_text {
  position: absolute;
  height: 50vw;
  width: 70vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  #part_aboutThisService_outline_text {
    height: 512px;
    width: 70%;
  }
}

#part_aboutThisService_outline_text > p {
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: var(--content-text-size);
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_aboutThisService_title_sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #f0f0f0;
  z-index: 0;
  width: 100%;
}

#part_aboutThisService_title_sub > p {
  font-weight: 600;
  line-height: 15.5vw;
  font-size: 13vw;
}

@media (min-width: 1025px) {
  #part_aboutThisService_title_sub > p {
    line-height: 158.7px;
    font-size: 133.1px;
  }
}
#part_aboutThisService_title_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bolder;
  z-index: 1;
  color: black;
  /* height: 50vw; */
  width: 100%;
}

#part_aboutThisService_title_main > p {
  font-size: 9vw;
  font-weight: 600;
}

@media (min-width: 1025px) {
  #part_aboutThisService_title_main > p {
    font-size: 92.2px;
  }
}

#part_AllowingAnonymous_image_pict {
  position: absolute;
  width: 45.9vw;
  height: 18.7vw;
  /* background: url(../asset/image/匿名OK.png); */
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  bottom: 0px;
}

@media (min-width: 1025px) {
  #part_AllowingAnonymous_image_pict {
    width: 470px;
    height: 191.5px;
  }
}

#part_AllowingAnonymous_outline_text {
  font-size: var(--content-title-size);
  /* font-size: 5.5vw; */
  font-weight: 600;
  width: var(--whole-page-vh);
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

#part_guide_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_guide_arrowDown_pict > div {
  position: absolute;
  /* background: url(../asset/image/arrowDownWhite.png); */
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
#part_guide_image_pict {
  position: absolute;
  height: 14.4vw;
  width: 17.9vw;
  /* background: url(../asset/image/指針.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  bottom: 0px;
}
@media (min-width: 1025px) {
  #part_guide_image_pict {
    height: 147.5px;
    width: 183.3px;
  }
}

#part_guide_outline_text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* height: 100px; */
  width: 100%;
}

#part_guide_outline_text > p {
  color: white;
  /* top: 50%;
  left: 50%;*/
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

@media (min-width: 1025px) {
  #part_guide_outline_text > p {
    line-height: 102.4px;
  }
}

#part_howToEnjoy_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_howToEnjoy_arrowDown_pict > div {
  position: absolute;
  /* background: url(../asset/image/arrowDownWhite.png); */
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.part_howToEnjoy_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.part_howToEnjoy_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToEnjoy_contents_box > .box_text {
  width: 100%;
}

.part_howToEnjoy_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
}

.part_howToEnjoy_contents_box .box_title {
}

.part_howToEnjoy_contents_box .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_howToEnjoy_title_pict {
  position: absolute;
  height: 12vw;
  width: 58.9vw;
  /* background: url(../asset/image/楽しみ方.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 1025px) {
  #part_howToEnjoy_title_pict {
    height: 122.9px;
    width: 603.1px;
  }
}

.part_howToUse_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  /* background-color: blue; */
  display: block;
  clear: both;
}

.part_howToUse_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToUse_contents_box > .box_text {
  width: 100%;
}

.part_howToUse_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
  /* background-color: #7c7c7c; */
}

.part_howToUse_contents_box > .box_title {
  /* background-color: violet; */
}

.part_howToUse_contents_box > .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

.part_howToUse_contents_box > .box_pict {
  position: relative;
  height: 23vw;
  width: 45vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pict {
    position: relative;
    height: 235.5px;
    width: 460.8px;
  }
}

.part_howToUse_contents_box > .box_pict > div {
  /* background: url(../asset/image/enter.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 {
  position: relative;
  height: 70.4vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 {
    height: 720.9px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 {
  position: absolute;
  height: 49.9vw;
  width: 22.7vw;
  left: 19.5vw;
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 {
    height: 511px;
    width: 232.5px;
    left: 199.7px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 > div {
  /* background: url(../asset/image/利用方法2-1.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1Supplement {
  position: absolute;
  height: var(--content-title-size);
  width: 29vw;
  left: 19.5vw;
  top: 52vw;
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1Supplement {
    width: 199.7px;
    top: 532.5px;
    left: 199.7px;
  }
}

.part_howToUse_contents_box > .box_picts > .box_pict1Supplement > p {
  background-color: darkblue;
  height: 100%;
  width: 100%;
  position: absolute;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 {
  position: absolute;
  height: 70.4vw;
  width: 31.7vw;
  left: 54.7vw;
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 {
    height: 720.9px;
    width: 324.6px;
    left: 560.1px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 > div {
  /* background: url(../asset/image/利用方法2-2.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse3 {
  position: relative;
  height: 57.6vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 {
    height: 589.8px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 {
  position: absolute;
  height: 51vw;
  width: 22.7vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 {
    height: 518px;
    width: 232.5px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 > div {
  /* background: url(../asset/image/利用方法3.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1Supplement {
  position: absolute;
  height: var(--content-title-size);
  width: 40vw;
  left: 50%;
  top: 52vw;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1Supplement {
    width: 409.6px;
    top: 532.5px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 {
  position: relative;
  height: 72.5vw;
  width: var(--whole-page-vh);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse4 {
    height: 742.4px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 > .box_pictsHowToUse4_pict {
  position: absolute;
  height: 100%;
  width: 71.7vw;
  /* background: url(../asset/image/利用方法4.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 1025px) {
  .part_howToUse_contents_box > .box_pictsHowToUse4 > .box_pictsHowToUse4_pict {
    width: 734.2px;
  }
}

#part_howToUse_title_pict {
  position: absolute;
  height: 12vw;
  width: 78vw;
  /* background: url(../asset/image/サービスの利用方法.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 1025px) {
  #part_howToUse_title_pict {
    height: 122.9px;
    width: 798.7px;
  }
}

#part_recommendedFor_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_recommendedFor_arrowDown_pict > div {
  position: absolute;
  /* background: url(../asset/image/arrowDownWhite.png); */
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.part_recommendedFor_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* background-color: rosybrown; */
}
@media (min-width: 1025px) {
  .part_recommendedFor_contents_box {
    /* height: 400px; */
  }
}

.part_recommendedFor_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  height: var(--box-number-text-size);
  /* background-color: yellow; */
}

.part_recommendedFor_contents_box > .box_title {
  /* height: var(--box-title-text-line-height); */
  /* background-color: violet; */
}

.part_recommendedFor_contents_box > .box_title p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_recommendedFor_title_pict {
  position: absolute;
  height: 12vw;
  width: 78vw;
  /* background: url(../asset/image/こんな方におすすめ.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 1025px) {
  #part_recommendedFor_title_pict {
    height: 122.9px;
    width: 798.7px;
  }
}

#part_topImage_arrowDown_pict {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
  position: absolute;
  bottom: 0;
}

#part_topImage_arrowDown_pict > div {
  position: absolute;
  /* background: url(../asset/image/arrowDownWhite.png); */
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
#part_topImage_main_pict {
  height: 100%;
  width: 100%;
}

@media (min-width: 1025px) {
  #part_topImage_main_pict {
    /* height: 1000; */
  }
}

#part_topImage_main_pict div {
  height: 100%;
  width: 100%;
  background: url(../asset/image/anime-min.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1025px) {
  #part_topImage_main_pict div {
    background-size: cover;
  }
}

.mt3vw {
  height: 3vw;
}

.mt12vw {
  position: relative;
  height: 12vw;
}

.mt16vw {
  position: relative;
  height: 16vw;
  /* border: red solid 10px; */
}

@media (min-width: 1025px) {
  .mt3vw {
    height: 30.7px;
  }

  .mt12vw {
    position: relative;
    height: 122.9px;
  }

  .mt16vw {
    position: relative;
    height: 163.8px;
    /* border: red solid 10px; */
  }
}

p {
  text-align: center;
}

.fade {
  /* 変化用 */
  transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
}

.fade.unscroll {
  /* アニメーション発動前の状態 */
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

#text_on_top_image {
  /* 変化用 */
  animation-name: my-fade-in;
  animation-duration: 3s;
}

/* テスト用コード */

#text_on_top_image {
  position: absolute;
  left: 50%;
  top: 71.6vw;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  width: 10vw;
  height: 70%;
  z-index: 100;
}

@media (min-width: 1025px) {
  #text_on_top_image {
    top: 733.2px;
  }
}

body .text,
body .text > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body .text > * {
  font-size: 6vw;
  font-weight: 600;
  height: 130vw;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  text-align: justify;
  text-justify: inter-ideograph;
  letter-spacing: 3vw;
  text-shadow: 0px 0px 30px #ffffff;
}

@media (min-width: 1025px) {
  body .text > * {
    height: 1331.2px;
    font-size: 61.4px;
    letter-spacing: 30.7px;
  }
}
