body {
  min-height: 100vh;
  overscroll-behavior: none;
}

/** ヘッダー構築部 */
header#header {
  width: 100vw;
  position: sticky;
  z-index: 30;
  top: -37vw;
  pointer-events: none;
}
header#header.under-modal {
  z-index: auto;
}
.header-img {
  width: 100vw;
  position: relative;
}
.header-img > img {
  width: 100%;
}
.part__link-top > a {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: auto;
}

/** コンテンツ部 */

.background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(/asset/image/バックグラウンド.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* background-attachment: fixed; */
  top: 0;
}
section#section {
  display: flex;
  flex-direction: column;
}

.container__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__ticket {
  display: flex;
  justify-content: center;
}
.box__ticket {
  width: 82vw;
  border: 2px solid var(--strong-color);
  padding: 1.5vw;
}
.box__ticket-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  clip-path: polygon(
    100% 80%,
    100% 100%,
    80% 100%,
    80% 98%,
    20% 98%,
    20% 100%,
    0% 100%,
    0% 80%,
    2% 80%,
    2% 20%,
    0% 20%,
    0% 0%,
    20% 0%,
    20% 2%,
    80% 2%,
    80% 0%,
    100% 0%,
    100% 20%,
    98% 20%,
    98% 80%
  );
}
.part__ticket-title > p {
  font-size: 3vw;
}

.box__izakaya {
  display: flex;
  width: 74vw;
}
.part__owner-icon > img {
  width: 20vw;
  object-fit: scale-down;
}
.part__izakaya-name {
  position: relative;
  width: 51vw;
}
.part__izakaya-name-bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part__izakaya-name-bg > p {
  color: var(--strong-color);
  transform: scale(0.6, 2.3);
  font-weight: 900;
  font-size: 10vw;
  text-align: center;
  opacity: 0.4;
  flex-shrink: 0;
  padding-top: 2vw;
}
_::-webkit-full-page-media,
_:future,
:root .part__izakaya-name-bg > p {
  transform: scale(0.45, 2.3);
  font-weight: 600;
}

.part__izakaya-name-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.part__izakaya-name-text > p {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 4vw;
}

.part__price-text > p {
  color: var(--text-color-light-bg);
  font-size: calc(26px + 12 * (100vw - 320px) / 480);
}
.part__bill-text > p {
  color: gray;
  font-size: 3vw;
}
.card-form__button.hide {
  display: none;
}

/** モーダル部品 */
.container__loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(20, 20, 20, 0.8);
}
.container__loading.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.box__modal.active {
  visibility: visible;
}
.part__modal-title {
  font-size: 6vw;
}
.part__modal-icon {
  display: none;
}
.part__modal-icon.error {
  display: block;
}
.part__modal-text {
  width: 80vw;
}
.part__modal-text > p {
  font-size: 5vw;
  color: white;
  text-align: center;
}
.part__btn-top {
  background-color: white;
  border: solid 1px white;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
}
.part__btn-top > a {
  padding: 2vw 4vw;
  font-size: 6vw;
  color: black;
}

/** 共通パーツ */
.square-fill {
  display: flex;
  width: 33.3vw;
  height: 6.6vw;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  background-color: var(--strong-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}

/** card-input.css を背景手前に浮かせる */
#section,
.wrapper {
  position: relative;
  z-index: 3;
}

/* TODO 暫定機能：カード入力欄の非表示  */
/* .card-list, */
.free-hidden {
  visibility: hidden;
  height: 0;
  margin-bottom: auto;
}
/* .card-form__inner, */
.free-hidden {
  padding-top: 0px;
}
/* div.card-input:nth-child(2), */
.free-hidden {
  visibility: hidden;
  height: 0;
}
/* div.card-form__row:nth-child(3), */
.free-hidden {
  visibility: hidden;
  height: 0;
}
/* div.card-form__row:nth-child(6), */
.free-hidden {
  visibility: hidden;
  height: 0;
}
/* .card-form__inner > div:nth-child(1), */
.free-hidden {
  visibility: hidden;
  height: 0;
}
#card-form-wrapper.free-spacing {
  min-height: auto;
}

.card-list.free-hidden {
  margin-bottom: 0 !important;
}

.card-form__inner.free-spacing {
  padding-top: 0 !important;
}

/** ディスプレイサイズ801px以上での表示時 */
@media screen and (min-width: 801px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /** ヘッダ部 */
  header#header {
    width: var(--pc-max-width);
    top: -310px;
  }
  .header-img {
    width: var(--pc-max-width);
  }
  .header-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /** コンテンツ部 */
  .background-img {
    width: var(--pc-max-width);
  }

  .box__ticket {
    width: 641.2px;
    border: 2px solid var(--strong-color);
    padding: 11.7px;
  }
  .part__ticket-title > p {
    font-size: 23.4px;
  }

  .box__izakaya {
    width: 578.6px;
  }
  .part__owner-icon > img {
    width: 156.4px;
  }
  .part__izakaya-name {
    width: 398.8px;
  }
  .part__izakaya-name-bg > p {
    font-size: 78.2px;
    padding-top: 14px;
  }

  .part__izakaya-name-text > p {
    letter-spacing: 0.2em;
    font-size: 23.4px;
  }

  .part__price-text > p {
    font-size: 39px;
  }
  .part__bill-text > p {
    font-size: 15.6px;
  }

  /** モーダル部品 */
  .part__modal-title {
    font-size: 35px;
  }
  .part__modal-text {
    width: 50%;
  }
  .part__modal-text > p {
    font-size: 23.4px;
  }
  .part__btn-top {
    border-radius: 16px;
  }

  .part__btn-top > a {
    padding: 15.6px 31.2px;
    font-size: 23.4px;
  }

  /** 共通パーツ */
  .square-fill {
    width: 260px;
    height: 51.6px;
  }
}
