// SCSSの共通設定読み込み
@import "../common/css/common";

// 以下個別のスタイル設定

body {
  min-height: 100vh;
  overscroll-behavior: none;

  @include largeScreen() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/** ヘッダー構築部 */
header#header {
  width: 100vw;
  position: sticky;
  z-index: 30;
  top: -37vw;

  @include largeScreen() {
    width: var(--pc-max-width);
    top: -310px * $minimizeRate;
  }
}

.header-img {
  width: 100vw;
  position: relative;

  @include largeScreen() {
    width: var(--pc-max-width);

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.header-img > img {
  width: 100%;
  height: auto;
}
.part__link-top > a {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  z-index: 3;
  border-style: none;
}

/** コンテンツ部 */

.background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(/asset/image/バックグラウンド.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  top: 0;

  @include largeScreen() {
    width: var(--pc-max-width);
  }
}

section#section {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.container__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container {
  width: 67vw;

  @include largeScreen() {
    width: 536.4px * $minimizeRate;
  }
}

div.izakaya-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.izakaya-overview {
  border: 1px solid white;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include largeScreen() {
    padding: 25.6px * $minimizeRate;
  }
}
.izakaya-overview.disable {
  opacity: 0.7;
  background-color: black;
}

.navi-text {
  @include largeScreen() {
    font-size: 32px * $minimizeRate;
  }
}

.izakaya-name > h2 {
  font-size: 5.4vw;

  @include largeScreen() {
    font-size: 42.2px * $minimizeRate;
  }
}

.profile-title > p {
  font-size: 3.2vw;

  @include largeScreen() {
    font-size: 25px * $minimizeRate;
  }
}

.description-title > p {
  font-size: 3.2vw;

  @include largeScreen() {
    font-size: 25px * $minimizeRate;
  }
}
.description-text > p {
  font-size: 2.4vw;
  line-height: 1.5;

  @include largeScreen() {
    font-size: 18.7px * $minimizeRate;
  }
}

.charge-link {
  width: 100%;
  background-color: var(--strong-color);
  text-align: center;
}
.charge-link > a {
  display: block;
  font-size: 5.3vw;
  color: white;
  text-decoration: none;
  line-height: 2;

  @include largeScreen() {
    font-size: 41.4px * $minimizeRate;
  }
}
.charge-link.disable > a {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.full-text {
  width: 100%;
  background-color: gray;
  text-align: center;
}
.full-text > p {
  display: block;
  font-size: 5.3vw;
  color: white;
  text-decoration: none;
  line-height: 2;
}

.info-text > p {
  font-size: 2.4vw;

  @include largeScreen() {
    font-size: 18.7px * $minimizeRate;
  }
}

.owner-icon > img {
  max-width: 25.3vw;
  max-height: 25.3vw;
  object-fit: scale-down;

  @include largeScreen() {
    width: 160px * $minimizeRate;
    max-width: 198px * $minimizeRate;
    max-height: 198px * $minimizeRate;
    object-fit: scale-down;
  }
}

.izakaya-info {
  @include largeScreen() {
    font-size: 21.1px * $minimizeRate;
  }
}

.izakaya-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
.price {
  padding: 0 2vw;
  background-color: var(--strong-color);
  line-height: 1.6;

  @include largeScreen() {
    padding: 0 16px;
    line-height: 1.6;
  }
}
.price > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}

.congestion-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.congestion-icon > img {
  width: 3.7vw;
  object-fit: contain;

  @include largeScreen() {
    width: 29px * $minimizeRate;
    object-fit: contain;
  }
}
.congesiton-text > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}

.entry-available {
  color: #00ffc4;
}
.entry-available.full {
  color: var(--strong-color);
}
.entry-available > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}

.owner-name > p {
  font-size: 2.4vw;

  @include largeScreen() {
    font-size: 18.7px * $minimizeRate;
  }
}

.genre > p {
  font-size: 2.4vw;

  @include largeScreen() {
    font-size: 18.7px * $minimizeRate;
  }
}

* {
  /* outline: solid 0.8px gainsboro; */
}
