body {
  min-height: 100vh;
  overscroll-behavior: none;
}

/** ヘッダー構築部 */
header#header {
  width: 100vw;
  position: sticky;
  z-index: 30;
  top: -37vw;
}
.header-img {
  width: 100vw;
  position: relative;
}
.header-img > img {
  width: 100%;
}
.part__link-top > a {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  z-index: 3;
  border-style: none;
}
/** コンテンツ部 */

.background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(/asset/image/バックグラウンド.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* background-attachment: fixed; */
  top: 0;
}
section#section {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.container__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container {
  width: 67vw;
}
div.izakaya-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.izakaya-overview {
  border: 1px solid white;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.izakaya-overview.disable {
  opacity: 0.7;
  background-color: black;
}

.izakaya-name > h2 {
  font-size: 5.4vw;
}
.profile-title > p {
  font-size: 3.2vw;
}
.description-title > p {
  font-size: 3.2vw;
}
.description-text > p {
  font-size: 2.4vw;
  line-height: 1.5;
}
.charge-link {
  width: 100%;
  background-color: var(--strong-color);
  text-align: center;
}
.charge-link > a {
  display: block;
  font-size: 5.3vw;
  color: white;
  text-decoration: none;
  line-height: 2;
}
.charge-link.disable > a {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.full-text {
  width: 100%;
  background-color: gray;
  text-align: center;
}
.full-text > p {
  display: block;
  font-size: 5.3vw;
  color: white;
  text-decoration: none;
  line-height: 2;
}

.info-text > p {
  font-size: 2.4vw;
}

.owner-icon > img {
  max-width: 25.3vw;
  max-height: 25.3vw;
  object-fit: scale-down;
}

.izakaya-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.price {
  padding: 0 2vw;
  background-color: var(--strong-color);
  line-height: 1.6;
}
.price > p {
  font-size: 3.7vw;
}
.congestion-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.congestion-icon > img {
  width: 3.7vw;
  object-fit: contain;
}
.congesiton-text > p {
  font-size: 3.7vw;
}
.entry-available > p {
  font-size: 3.7vw;
}
.entry-available {
  color: #00ffc4;
}
.entry-available.full {
  color: var(--strong-color);
}
.owner-name > p {
  font-size: 2.4vw;
}
.genre > p {
  font-size: 2.4vw;
}

* {
  /* outline: solid 0.8px gainsboro; */
}

/** ディスプレイサイズ1024px以上での表示時 */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /** ヘッダ部 */
  header#header {
    width: 1024px;
    top: -390px;
  }
  .header-img {
    width: 1024px;
  }
  .header-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /** コンテンツ部 */
  .background-img {
    width: 1024px;
    background: url(/asset/image/バックグラウンド.png);
  }

  .izakaya-overview {
    padding: 20px;
  }

  .navi-text {
    font-size: 41px;
  }
  div.container {
    width: 686px;
  }
  img.owner-icon {
    width: 204px;
  }
  .izakaya-name > h2 {
    font-size: 54px;
  }
  .izakaya-info {
    font-size: 27px;
  }
  .izakaya-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .price {
    padding: 0 20px;
    line-height: 1.6;
  }
  .price > p {
    font-size: 37px;
  }
  .congestion-icon > img {
    width: 37px;
    object-fit: contain;
  }
  .congesiton-text > p {
    font-size: 37px;
  }
  .entry-available > p {
    font-size: 37px;
  }
  .owner-name > p {
    font-size: 24px;
  }
  .genre > p {
    font-size: 24px;
  }

  .profile-title > p {
    font-size: 32px;
  }

  .description-title > p {
    font-size: 32px;
  }
  .description-text > p {
    font-size: 24px;
  }
  .charge-link {
    background-color: var(--strong-color);
    text-align: center;
  }
  .charge-link > a {
    font-size: 53px;
  }
  .info-text > p {
    font-size: 24px;
  }

  .owner-icon > img {
    max-width: 253px;
    max-height: 253px;
    object-fit: scale-down;
  }
}
