// SCSSの共通設定読み込み
@import "../common/css/common";

// 以下個別のスタイル設定

@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  position: relative;
}

p {
  line-height: 1em;
  font-family: kozuka-gothic-pro, sans-serif;
}

:root {
  --whole-page-vh: 100vw;
  --header-vh: 71.6vw;
  --content-title-size: 5.5vw;
  --content-text-size: 3.4vw;
  --box-number-text-size: 14vw;
  --box-title-text-line-height: 10vw;
  --arrowDown-area-height: 16vw;
  --arrowDown-pict-height: 10vw;
  --arrowDown-pict-width: 20vw;
  --title-height: 47.5vw;

  @include largeScreen() {
    --whole-page-vh: #{800px * $minimizeRate};
    --content-title-size: #{44px * $minimizeRate};
    --content-text-size: #{27.2px * $minimizeRate};
    --box-number-text-size: #{112.1px * $minimizeRate};
    --box-title-text-line-height: #{80px * $minimizeRate};
    --arrowDown-area-height: #{125.4px * $minimizeRate};
    --arrowDown-pict-height: #{80px * $minimizeRate};
    --arrowDown-pict-width: #{160.1px * $minimizeRate};
    --title-height: #{380.3px * $minimizeRate};
  }
}

body {
  width: 100%;
  color: var(--text-color);
  position: absolute;
  font-family: kozuka-gothic-pro, sans-serif;
  overscroll-behavior: none;
}

#backgroudImage {
  height: 100vh;
  width: var(--whole-page-vh);
  position: fixed;
  z-index: -1000;
  top: 0px;
  left: 0px;
  background: url(../asset/image/バックグラウンド.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  left: 50%;
  transform: translate(-49%, 0);
  -webkit-transform: translate(-49%, 0%);
  -ms-transform: translate(-49%, 0);
}

#footer {
  position: relative;
  width: var(--whole-page-vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.box_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include largeScreen() {
    height: 70px * $minimizeRate;
  }
}

.box_footer > p {
  color: black;
}

.box_policies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include largeScreen() {
    flex-direction: row;
    justify-content: center;
  }
}

@include largeScreen() {
  .part_policy {
    display: flex;
    align-items: center;
  }
}

.part_policy > p {
  font-size: 14px;

  @include largeScreen() {
    font-size: 12px;
  }
}
.copyright {
  height: 10vw;

  @include largeScreen() {
    height: 100px * $minimizeRate;
  }
}

@include largeScreen() {
  .bk_sp {
    display: none;
  }
}

#main {
  max-width: var(--whole-page-vh);
  position: relative;
  margin-top: -71.6vw;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);

  @include largeScreen() {
    margin-top: -733.2px * $minimizeRate;
  }
}

#gradient {
  display: none;
}

hr {
  width: 85%;
}

/* ===================== 
レイアウトデバッグ用 
 =====================*/
/* .containers {
  border: 5px solid blue;
}

.area {
  border: 5px solid red;
}

.part {
  border: 5px solid seagreen;
} */

/* ========================================= 

  Position Fixed

========================================= */

/* ヘッダー */
#headder {
  height: var(--header-vh);
  width: var(--whole-page-vh);
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: -38vw;
  display: flex;
  justify-content: center;

  @include largeScreen() {
    height: 570px * $minimizeRate;
    top: -305px * $minimizeRate;
    width: 100%;
    border-width: 100px * $minimizeRate;
  }
}

#headder_btn_enter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-margin {
  height: 34vw;

  @include largeScreen() {
    height: 278px * $minimizeRate;
  }
}

#headder_btn_enter > a {
  height: auto;
  width: max-content;
  display: inline;
  z-index: 1001;
}

#headder_btn_enter > a > img {
  width: 45vw;
  display: inline;
  z-index: 1001;

  @include largeScreen() {
    width: 358px * $minimizeRate;
  }
}

#headder_img {
  height: 100%;
  width: 100%;
  left: 50%;
}

#headder_img {
  background-image: url(/asset/image/yokocho-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  max-width: var(--whole-page-vh);
  border-style: none;

  @include largeScreen() {
    width: var(--whole-page-vh);
    height: 573px * $minimizeRate;
  }
}

/* ========================================= 

  Scrolls

========================================= */

/* ===================== 
container定義 
 =====================*/
.containers {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid blue; */
}

#container_aboutThisService {
  background-color: #ffffff;
}

#container_AllowingAnonymous {
  height: auto;
  width: var(--whole-page-vh);
}

#container_guide {
  background-color: #7c7c7c;
  height: 75vw;
  display: none;

  @include largeScreen() {
    height: 768px * $minimizeRate;
  }
}

#container_howToEnjoy {
  height: auto;
}

#container_recommendedFor {
  height: auto;
}

#container_howToUse {
}

#container_topImage {
  width: var(--whole-page-vh);
}

/* ===================== 
area定義 
 =====================*/
.area {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid red; */
}

#area_aboutThisService_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#area_aboutThisService_outline {
  height: 58vw;
  width: var(--whole-page-vh);
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 512px * $minimizeRate;
  }
}

#area_aboutThisService_title {
  color: white;
  height: 40vw;
  width: var(--whole-page-vh);
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 360px * $minimizeRate;
  }
}

#area_aboutThisService_image {
  height: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 921.6px * $minimizeRate;
  }
}

#area_AllowingAnonymous_image {
  height: 41.5vw;
  width: var(--whole-page-vh);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include largeScreen() {
    height: 360px * $minimizeRate;
  }
}

#area_AllowingAnonymous_outline {
  height: 30vw;
  width: var(--whole-page-vh);
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 240.2px * $minimizeRate;
  }
}

#area_guide_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#area_guide_image {
  height: 25vw;
  width: var(--whole-page-vh);

  @include largeScreen() {
    height: 256px * $minimizeRate;
  }
}

#area_guide_outline {
  height: 30vw;
  width: var(--whole-page-vh);

  @include largeScreen() {
    height: 307.2px * $minimizeRate;
  }
}

#area_howToEnjoy_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#area_howToEnjoy_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

#area_howToUse_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
}

#area_recommendedFor_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#area_recommendedFor_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
}

#area_topImage_main {
  height: 100%;
  width: 100%;
}

/* ===================== 
part以下定義 
 =====================*/
#part_aboutThisService_arrowDown_pict {
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#part_aboutThisService_arrowDown_pict > div {
  background-image: url(../asset/image/arrowDownGray.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#part_aboutThisService_image_pict {
  height: 80vw;
  width: 100%;

  @include largeScreen() {
    height: 819.2px * $minimizeRate;
  }
}

#part_aboutThisService_image_pict div {
  height: 100%;
  background-image: url(../asset/image/flattoとは.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}

#part_aboutThisService_outline_text {
  height: 58vw;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    width: 70%;
    height: 512px * $minimizeRate;
  }
}

#part_aboutThisService_outline_text > p {
  color: black;
  font-size: var(--content-text-size);
  width: 100%;
  text-align: center;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_aboutThisService_title_sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #f0f0f0;
  z-index: 0;
  width: 100%;
}

#part_aboutThisService_title_sub > p {
  font-weight: 600;
  line-height: 15.5vw;
  font-size: 13vw;

  @include largeScreen() {
    line-height: 124.1px * $minimizeRate;
    font-size: 104px * $minimizeRate;
  }
}

#part_aboutThisService_title_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bolder;
  z-index: 1;
  color: black;
  width: 100%;
}

#part_aboutThisService_title_main > p {
  font-size: 9vw;
  font-weight: 600;

  @include largeScreen() {
    font-size: 72px * $minimizeRate;
  }
}

#part_AllowingAnonymous_image_pict {
  width: 45.9vw;
  height: 18.7vw;
  background: url(../asset/image/匿名OK.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include largeScreen() {
    width: 367.5px * $minimizeRate;
    height: 191.5px * $minimizeRate;
    background-size: contain;
  }
}

#part_AllowingAnonymous_outline_text {
  font-size: var(--content-title-size);
  font-weight: 600;
  width: var(--whole-page-vh);
}

#part_guide_arrowDown_pict {
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#part_guide_arrowDown_pict > div {
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

// #part_guide_image_pict {
//   position: absolute;
//   height: 14.4vw;
//   width: 17.9vw;
//   background: url(../asset/image/指針.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   left: 50%;
//   transform: translate(-50%, 0);
//   -webkit-transform: translate(-50%, 0);
//   -ms-transform: translate(-50%, 0);
//   bottom: 0px;

//   @include largeScreen() {
//     height: 147.5px * $minimizeRate;
//     width: 183.3px * $minimizeRate;
//   }
// }

// #part_guide_outline_text {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%, 0);
//   -webkit-transform: translate(-50%, 0);
//   -ms-transform: translate(-50%, 0);
//   width: 100%;
// }

#part_guide_outline_text > p {
  color: white;
  /* top: 50%;
  left: 50%;*/
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);

  @include largeScreen() {
    line-height: 102.4px * $minimizeRate;
  }
}

#part_howToEnjoy_arrowDown_pict {
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#part_howToEnjoy_arrowDown_pict > div {
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.part_howToEnjoy_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.part_howToEnjoy_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToEnjoy_contents_box > .box_text {
  width: 100%;
}

.part_howToEnjoy_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
}

.part_howToEnjoy_contents_box .box_title {
}

.part_howToEnjoy_contents_box .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_howToEnjoy_title_pict {
  height: 12vw;
  width: 58.9vw;
  background: url(../asset/image/楽しみ方.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include largeScreen() {
    height: 122.9px * $minimizeRate;
    width: 471.6px * $minimizeRate;
    background-size: contain;
  }
}

.part_howToUse_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  clear: both;
}

.part_howToUse_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToUse_contents_box > .box_text {
  width: 100%;
}

.part_howToUse_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
  /* background-color: #7c7c7c; */
}

.part_howToUse_contents_box > .box_title {
  /* background-color: violet; */
}

.part_howToUse_contents_box > .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

.part_howToUse_contents_box > .box_pict {
  position: relative;
  height: 23vw;
  width: 45vw;

  @include largeScreen() {
    height: 235.5px * $minimizeRate;
    width: 360.3px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pict > div {
  background: url(../asset/image/enter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 {
  position: relative;
  height: 70.4vw;
  width: var(--whole-page-vh);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include largeScreen() {
    height: 720.9px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 {
  height: auto;
  width: auto;

  @include largeScreen() {
    height: 511px * $minimizeRate;
    width: 232.5px * $minimizeRate;
  }
}

.box_pict1-img > img {
  height: auto;
  width: 25vw;
  border: white solid 1px;

  @include largeScreen() {
    width: 232.5px * $minimizeRate;
    border: white solid 2px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1Supplement {
  height: var(--content-title-size);
  width: 29vw;

  @include largeScreen() {
    width: 199.7px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_picts > .box_pict1Supplement > p {
  background-color: darkblue;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 {
  height: 70.4vw;
  width: 31.7vw;

  @include largeScreen() {
    height: 720.9px * $minimizeRate;
    width: 324.6px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 > div {
  background: url(../asset/image/利用方法2-2.png);
  border: white solid 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse3 {
  position: relative;
  height: 57.6vw;
  width: var(--whole-page-vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 589.8px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 {
  height: 51vw;
  width: 22.7vw;

  @include largeScreen() {
    height: 518px * $minimizeRate;
    width: 232.5px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 > div {
  background: url(../asset/image/利用方法3.png);
  border: white solid 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1Supplement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--content-title-size);
  width: 100%;

  @include largeScreen() {
    top: 532.5px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 {
  position: relative;
  height: 72.5vw;
  width: var(--whole-page-vh);
  display: flex;
  align-items: center;
  justify-content: center;

  @include largeScreen() {
    height: 580.5px * $minimizeRate;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 > .box_pictsHowToUse4_pict {
  height: 100%;
  width: 71.7vw;
  background: url(../asset/image/利用方法4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include largeScreen() {
    width: 574.1px * $minimizeRate;
  }
}

#part_howToUse_title_pict {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#part_howToUse_title_pict > img {
  width: 78vw;

  @include largeScreen() {
    height: auto;
    width: 623.2px * $minimizeRate;
  }
}

#part_recommendedFor_arrowDown_pict {
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#part_recommendedFor_arrowDown_pict > div {
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.part_recommendedFor_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.part_recommendedFor_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  height: var(--box-number-text-size);
}

.part_recommendedFor_contents_box > .box_title p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_recommendedFor_title_pict {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#part_recommendedFor_title_pict > img {
  height: auto;
  width: 78vw;

  @include largeScreen() {
    width: 623.2px * $minimizeRate;
  }
}

#part_topImage_arrowDown_pict {
  height: 100px;
  display: flex;
  align-items: center;
}

@media (min-width: 801px) {
  #part_topImage_arrowDown_pict > img {
    width: 33px * $minimizeRate;
    height: 17px * $minimizeRate;
  }
}

.top-img_margin {
  height: 3vw;

  @include largeScreen() {
    height: 180px * $minimizeRate;
  }
}

#part_topImage_main_pict {
  height: 100%;
  width: 100%;
}

#part_topImage_main_pict > div {
  height: 100%;
  width: 100%;
  background: url(../asset/image/anime-min.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* safari webpの置き換え */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root #part_topImage_main_pict > div {
    background-image: url(../asset/image/オンライン横丁メインアニメ.gif);
  }
}

@media (min-width: 801px) {
  #part_topImage_main_pict > div {
    background-size: contain;
  }
}

.mt3vw {
  height: 3vw;
}

.mt9vw {
  position: relative;
  height: 9vw;
}

.mt12vw {
  position: relative;
  height: 12vw;
}

.mt16vw {
  position: relative;
  height: 16vw;
}
.mt18vw {
  height: 18vw;
}
.mt67vw {
  height: 67vw;
  flex-shrink: 0;
}

@media (min-width: 801px) {
  .mt3vw {
    height: 30.7px * $minimizeRate;
  }

  .mt9vw {
    position: relative;
    height: 90px * $minimizeRate;
  }

  .mt12vw {
    position: relative;
    height: 122.9px * $minimizeRate;
  }
  .mt16vw {
    position: relative;
    height: 163.8px * $minimizeRate;
  }
  .mt18vw {
    height: 180px * $minimizeRate;
  }
  .mt67vw {
    height: 670px * $minimizeRate;
  }
}

p {
  text-align: center;
}

.fade {
  /* 変化用 */
  transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
}

.fade.unscroll {
  /* アニメーション発動前の状態 */
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

#text_on_top_image {
  /* 変化用 */
  animation-name: my-fade-in;
  animation-duration: 3s;
}

/* テスト用コード */

#text_on_top_image {
  z-index: 100;
  line-height: normal;
}

body .text {
  width: calc(20px + 28 * (100vw - 320px) / 480);

  @include largeScreen() {
    width: 49px * $minimizeRate;
  }
}

body .text > * {
  font-size: 6vw;
  font-weight: 600;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  text-align: justify;
  text-justify: inter-ideograph;
  font-feature-settings: normal;
  letter-spacing: 3vw;
  text-shadow: 0px 0px 30px #ffffff;
  white-space: nowrap;

  @include largeScreen() {
    font-size: 48px * $minimizeRate;
    letter-spacing: 24px * $minimizeRate;
  }
}
