// SCSSの共通設定読み込み
@import "../common/css/common";

// 以下個別のスタイル設定

body {
  min-height: 100vh;
  overscroll-behavior: none;

  @include largeScreen() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/** ヘッダー構築部 */
header#header {
  width: 100vw;
  position: sticky;
  z-index: 30;
  top: -37vw;

  @include largeScreen() {
    width: var(--pc-max-width);
    top: -310px * $minimizeRate;
  }
}
.header-img {
  width: 100vw;

  @include largeScreen() {
    width: var(--pc-max-width);
  }
}
.part__link-to-top > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

/** コンテンツ部 */

.background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(/asset/image/バックグラウンド.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* background-attachment: fixed; */
  top: 0;

  @include largeScreen() {
    width: var(--pc-max-width);
  }
}

section#section {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.navi-text {
  font-size: 4vw;
  text-align: center;

  @include largeScreen() {
    font-size: 32px * $minimizeRate;
  }
}
.container__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 67vw;

  @include largeScreen() {
    width: 537px * $minimizeRate;
  }
}

.display-status {
  width: 100%;
  height: 100%;
  padding: 2%;
  /* height: 10vw; */
  border-radius: 2vw;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center; /*上下中央揃え*/
  font-size: 6vw;
  font-weight: 900;
  z-index: 10;
  pointer-events: none;

  @include largeScreen() {
    border-radius: 24px * $minimizeRate;
    font-size: 47.8px * $minimizeRate;
  }
}

.display-status-close {
  background-color: #555;
}

.display-status-open {
  background-color: #3caa9b;
}

.display-status-full {
  background-color: rgb(199, 79, 79);
}

.display-status-willOpen {
  background-color: rgb(255, 208, 0);
}

.display-status-lottery {
  background-color: rgb(50, 204, 3);
}

.display-status-reserve {
  background-color: rgb(3, 124, 204);
}

.duration {
  font-weight: 900;
  /* color: rgb(248, 247, 202); */
}

.izakaya-item {
  position: relative;
  border: 1px solid white;
  text-align: center;
  padding: 10%;

  @include largeScreen() {
    padding: 8% * $minimizeRate;
  }
}
.izakaya-item.disable {
  opacity: 70%;
  background-color: black;
}
.part__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.part__cover.harigami {
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 6vw;
}
.part__cover.harigami.満席 {
  display: flex;
  background-color: rgba(255, 0, 0, 0.3);
  z-index: 5;
}
.part__cover.harigami.Close {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.part__cover.harigami.開店待ち {
  display: flex;
  background-color: rgba(253, 255, 147, 0.3);
  z-index: 5;
}
.part__cover.harigami > p {
  background-color: black;
}
.part__status-text > p {
  color: white;
  font-size: 8vw;
  filter: drop-shadow(0 0 3px black);
  font-weight: 700;
}
.part__comment-text > p {
  color: white;
  font-weight: 700;
  font-size: 4.5vw;
  filter: drop-shadow(0 0 2px black);
}
a.detail-link {
  z-index: 3;
}
.disable > a.detail-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

img.owner-icon {
  width: 20vw;
  object-fit: scale-down;

  @include largeScreen() {
    width: 160px * $minimizeRate;
  }
}
.izakaya-name {
  font-size: 5.3vw;

  @include largeScreen() {
    font-size: 43px * $minimizeRate;
  }
}
.izakaya-info {
  font-size: 2.66vw;

  @include largeScreen() {
    font-size: 21px * $minimizeRate;
  }
}

.izakaya-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.price {
  padding: 0 2vw;
  background-color: var(--strong-color);
  line-height: 1.6;

  @include largeScreen() {
    padding: 0 16px;
    line-height: 1.6;
  }
}
.price > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}
.congestion-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.congestion-icon > img {
  width: 3.7vw;
  object-fit: contain;

  @include largeScreen() {
    width: 29px * $minimizeRate;
    object-fit: contain;
  }
}
.congesiton-text > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}
.entry-available > p {
  font-size: 3.7vw;

  @include largeScreen() {
    font-size: 29px * $minimizeRate;
  }
}
.entry-available {
  color: #00ffc4;
}
.entry-available.full {
  color: var(--strong-color);
}
