@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  /* max-width: 800px; */
  position: relative;
}

p {
  line-height: 1em;
  font-family: kozuka-gothic-pro, sans-serif;
}

:root {
  --whole-page-vh: 100vw;
  --header-vh: 71.6vw;
  --content-title-size: 5.5vw;
  --content-text-size: 3.4vw;
  --box-number-text-size: 14vw;
  --box-title-text-line-height: 10vw;
  --arrowDown-area-height: 16vw;
  --arrowDown-pict-height: 10vw;
  --arrowDown-pict-width: 20vw;
  --title-height: 47.5vw;
}

@media (min-width: 801px) {
  :root {
    --whole-page-vh: 800px;
    --content-title-size: 44px;
    --content-text-size: 27.2px;
    --box-number-text-size: 112.1px;
    --box-title-text-line-height: 80px;
    --arrowDown-area-height: 125.4px;
    --arrowDown-pict-height: 80px;
    --arrowDown-pict-width: 160.1px;
    --title-height: 380.3px;
  }
}

body {
  width: 100%;
  color: var(--text-color);
  position: absolute;
  font-family: kozuka-gothic-pro, sans-serif;
  overscroll-behavior: none;
}

#backgroudImage {
  height: 100vh;
  width: var(--whole-page-vh);
  position: fixed;
  z-index: -1000;
  top: 0px;
  left: 0px;
  background: url(../asset/image/バックグラウンド.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

#footer {
  position: relative;
  width: var(--whole-page-vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.box_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 801px) {
  .box_footer {
    height: 70px;
  }
}
.box_footer > p {
  color: black;
}

.box_policies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 801px) {
  .box_policies {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 801px) {
  .part_policy {
    display: flex;
    align-items: center;
  }
}
.part_policy > p {
  font-size: 14px;
}
@media (min-width: 801px) {
  .part_policy > p {
    font-size: 12px;
  }
}
.copyright {
  height: 10vw;
}
@media (min-width: 801px) {
  .copyright {
    height: 100px;
  }
}

@media (min-width: 801px) {
  .bk_sp {
    display: none;
  }
}

#main {
  max-width: var(--whole-page-vh);
  position: relative;
  /* font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif; */
  margin-top: -71.6vw;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  #main {
    /* position: relative;
    font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif; */
    margin-top: -733.2px;
  }
}

#gradient {
  display: none;
}

@media (min-width: 801px) {
  #gradient {
    /* display: block;
    position: fixed;
    width: 500px;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 3%),
      linear-gradient(270deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 3%);
    pointer-events: none;
    width: 800px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0); */
  }
}

hr {
  width: 85%;
}

/* ===================== 
レイアウトデバッグ用 
 =====================*/
/* .containers {
  border: 5px solid blue;
}

.area {
  border: 5px solid red;
}

.part {
  border: 5px solid seagreen;
} */

/* ========================================= 

  Position Fixed

========================================= */

/* ヘッダー */
#headder {
  height: var(--header-vh);
  width: var(--whole-page-vh);
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: -38vw;
  display: flex;
  justify-content: center;
}
@media (min-width: 801px) {
  #headder {
    height: 570px;
    top: -305px;
    width: 100%;
    border-width: 100px;
  }
}

#headder_btn_enter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-margin {
  height: 34vw;
}
@media (min-width: 801px) {
  .img-margin {
    height: 272px;
  }
}

#headder_btn_enter > a {
  height: auto;
  width: max-content;
  display: inline;
  z-index: 1001;
}

#headder_btn_enter > a > img {
  width: 45vw;
  display: inline;
  z-index: 1001;
}

@media (min-width: 801px) {
  #headder_btn_enter > a > img {
    width: 358px;
  }
}

#headder_img {
  height: 100%;
  width: 100%;
  left: 50%;
}

#headder_img {
  background-repeat: no-repeat;
  background: url(/asset/image/yokocho-header.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  max-width: var(--whole-page-vh);
  border-style: none;
}

@media (min-width: 801px) {
  #headder_img {
    width: var(--whole-page-vh);
    background-size: contain;
    height: 573px;
  }
}

/* ========================================= 

  Scrolls

========================================= */

/* ===================== 
container定義 
 =====================*/
.containers {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid blue; */
}

#container_aboutThisService {
  background-color: #ffffff;
}

#container_AllowingAnonymous {
  height: auto;
  width: var(--whole-page-vh);
}

#container_guide {
  background-color: #7c7c7c;
  height: 75vw;
  display: none;
}

@media (min-width: 801px) {
  #container_guide {
    height: 768px;
  }
}

#container_howToEnjoy {
  height: auto;
}

#container_recommendedFor {
  height: auto;
}

#container_howToUse {
}

#container_topImage {
  width: var(--whole-page-vh);
}

/* ===================== 
area定義 
 =====================*/
.area {
  position: relative;
  /* デバッグ用スタイル */
  /* border: 5px solid red; */
}

#area_aboutThisService_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_aboutThisService_outline {
  height: 50vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_aboutThisService_outline {
    height: 512px;
  }
}

#area_aboutThisService_title {
  color: white;
  height: 40vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_aboutThisService_title {
    height: 409.6px;
  }
}

#area_aboutThisService_image {
  height: 90vw;
  width: 65vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  #area_aboutThisService_image {
    height: 921.6px;
  }
}

#area_AllowingAnonymous_image {
  height: 41.5vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_AllowingAnonymous_image {
    height: 425px;
  }
}

#area_AllowingAnonymous_outline {
  height: 30vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_AllowingAnonymous_outline {
    height: 307.2px;
  }
}

#area_guide_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_guide_image {
  height: 25vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_guide_image {
    height: 256px;
  }
}

#area_guide_outline {
  height: 30vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  #area_guide_outline {
    height: 307.2px;
  }
}

#area_howToEnjoy_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_howToEnjoy_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
  /* background-color: tomato; */
}

#area_howToUse_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
}

#area_recommendedFor_arrowDown {
  width: var(--whole-page-vh);
  height: var(--arrowDown-area-height);
}

#area_recommendedFor_title {
  height: var(--title-height);
  width: var(--whole-page-vh);
  /* background-color: tomato; */
}

#area_topImage_main {
  height: 100%;
  width: 100%;
}

/* ===================== 
part以下定義 
 =====================*/
#part_aboutThisService_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_aboutThisService_arrowDown_pict > div {
  position: absolute;
  background: url(../asset/image/arrowDownGray.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

#part_aboutThisService_image_pict {
  position: absolute;
  height: 80vw;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

@media (min-width: 801px) {
  #part_aboutThisService_image_pict {
    height: 819.2px;
  }
}

#part_aboutThisService_image_pict div {
  height: 100%;
  background: url(../asset/image/flattoとは.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

#part_aboutThisService_outline_text {
  position: absolute;
  height: 50vw;
  width: 70vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  #part_aboutThisService_outline_text {
    height: 512px;
    width: 70%;
  }
}

#part_aboutThisService_outline_text > p {
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: var(--content-text-size);
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_aboutThisService_title_sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #f0f0f0;
  z-index: 0;
  width: 100%;
}

#part_aboutThisService_title_sub > p {
  font-weight: 600;
  line-height: 15.5vw;
  font-size: 13vw;
}

@media (min-width: 801px) {
  #part_aboutThisService_title_sub > p {
    line-height: 124.1px;
    font-size: 104px;
  }
}
#part_aboutThisService_title_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bolder;
  z-index: 1;
  color: black;
  /* height: 50vw; */
  width: 100%;
}

#part_aboutThisService_title_main > p {
  font-size: 9vw;
  font-weight: 600;
}

@media (min-width: 801px) {
  #part_aboutThisService_title_main > p {
    font-size: 72px;
  }
}

#part_AllowingAnonymous_image_pict {
  position: absolute;
  width: 45.9vw;
  height: 18.7vw;
  background: url(../asset/image/匿名OK.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  bottom: 0px;
}

@media (min-width: 801px) {
  #part_AllowingAnonymous_image_pict {
    width: 367.5px;
    height: 191.5px;
    background-size: contain;
  }
}

#part_AllowingAnonymous_outline_text {
  font-size: var(--content-title-size);
  /* font-size: 5.5vw; */
  font-weight: 600;
  width: var(--whole-page-vh);
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

#part_guide_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_guide_arrowDown_pict > div {
  position: absolute;
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
#part_guide_image_pict {
  position: absolute;
  height: 14.4vw;
  width: 17.9vw;
  background: url(../asset/image/指針.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  bottom: 0px;
}
@media (min-width: 801px) {
  #part_guide_image_pict {
    height: 147.5px;
    width: 183.3px;
  }
}

#part_guide_outline_text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  /* height: 100px; */
  width: 100%;
}

#part_guide_outline_text > p {
  color: white;
  /* top: 50%;
  left: 50%;*/
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

@media (min-width: 801px) {
  #part_guide_outline_text > p {
    line-height: 102.4px;
  }
}

#part_howToEnjoy_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_howToEnjoy_arrowDown_pict > div {
  position: absolute;
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.part_howToEnjoy_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.part_howToEnjoy_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToEnjoy_contents_box > .box_text {
  width: 100%;
}

.part_howToEnjoy_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
}

.part_howToEnjoy_contents_box .box_title {
}

.part_howToEnjoy_contents_box .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_howToEnjoy_title_pict {
  position: absolute;
  height: 12vw;
  width: 58.9vw;
  background: url(../asset/image/楽しみ方.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 801px) {
  #part_howToEnjoy_title_pict {
    height: 122.9px;
    width: 471.6px;
    background-size: contain;
  }
}

.part_howToUse_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  /* background-color: blue; */
  display: block;
  clear: both;
}

.part_howToUse_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  /* background-color: yellow; */
}

.part_howToUse_contents_box > .box_text {
  width: 100%;
}

.part_howToUse_contents_box .box_text p {
  font-size: var(--content-text-size);
  width: 100%;
  font-weight: 400;
  line-height: var(--content-title-size);
  /* background-color: #7c7c7c; */
}

.part_howToUse_contents_box > .box_title {
  /* background-color: violet; */
}

.part_howToUse_contents_box > .box_title > p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

.part_howToUse_contents_box > .box_pict {
  position: relative;
  height: 23vw;
  width: 45vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pict {
    position: relative;
    height: 235.5px;
    width: 360.3px;
  }
}

.part_howToUse_contents_box > .box_pict > div {
  background: url(../asset/image/enter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 {
  position: relative;
  height: 70.4vw;
  width: var(--whole-page-vh);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 {
    height: 720.9px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 {
  height: 49.9vw;
  width: 22.7vw;
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1 {
    height: 511px;
    width: 232.5px;
  }
}

.box_pict1-img > img {
  height: auto;
  width: 25vw;
  border: white solid 1px;
}
@media (min-width: 801px) {
  .box_pict1-img > img {
    width: 232.5px;
    border: white solid 2px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1Supplement {
  height: var(--content-title-size);
  width: 29vw;
}
@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict1Supplement {
    width: 199.7px;
  }
}

.part_howToUse_contents_box > .box_picts > .box_pict1Supplement > p {
  background-color: darkblue;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 {
  height: 70.4vw;
  width: 31.7vw;
}
@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 {
    height: 720.9px;
    width: 324.6px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse2 > .box_pict2 > div {
  background: url(../asset/image/利用方法2-2.png);
  border: white solid 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.part_howToUse_contents_box > .box_pictsHowToUse3 {
  position: relative;
  height: 57.6vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 {
    height: 589.8px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 {
  position: absolute;
  height: 51vw;
  width: 22.7vw;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 {
    height: 518px;
    width: 232.5px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1 > div {
  background: url(../asset/image/利用方法3.png);
  border: white solid 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1Supplement {
  position: absolute;
  height: var(--content-title-size);
  width: 40vw;
  left: 50%;
  top: 52vw;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse3 > .box_pict1Supplement {
    width: 409.6px;
    top: 532.5px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 {
  position: relative;
  height: 72.5vw;
  width: var(--whole-page-vh);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse4 {
    height: 580.5px;
  }
}

.part_howToUse_contents_box > .box_pictsHowToUse4 > .box_pictsHowToUse4_pict {
  position: absolute;
  height: 100%;
  width: 71.7vw;
  background: url(../asset/image/利用方法4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

@media (min-width: 801px) {
  .part_howToUse_contents_box > .box_pictsHowToUse4 > .box_pictsHowToUse4_pict {
    width: 574.1px;
  }
}

#part_howToUse_title_pict {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#part_howToUse_title_pict > img {
  width: 78vw;
}
@media (min-width: 801px) {
  #part_howToUse_title_pict > img {
    height: auto;
    width: 623.2px;
  }
}

#part_recommendedFor_arrowDown_pict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: var(--arrowDown-pict-height);
  width: var(--arrowDown-pict-width);
}

#part_recommendedFor_arrowDown_pict > div {
  position: absolute;
  background: url(../asset/image/arrowDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.part_recommendedFor_contents_box {
  height: auto;
  position: relative;
  width: var(--whole-page-vh);
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.part_recommendedFor_contents_box > .box_number {
  font-size: var(--box-number-text-size);
  font-weight: 100;
  height: var(--box-number-text-size);
  /* background-color: yellow; */
}

.part_recommendedFor_contents_box > .box_title {
  /* height: var(--box-title-text-line-height); */
  /* background-color: violet; */
}

.part_recommendedFor_contents_box > .box_title p {
  font-size: var(--content-title-size);
  font-weight: 600;
  line-height: var(--box-title-text-line-height);
}

#part_recommendedFor_title_pict {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#part_recommendedFor_title_pict > img {
  height: auto;
  width: 78vw;
}

@media (min-width: 801px) {
  #part_recommendedFor_title_pict > img {
    width: 623.2px;
  }
}

#part_topImage_arrowDown_pict {
  height: 120px;
  display: flex;
  align-items: center;
}

@media (min-width: 801px) {
  #part_topImage_arrowDown_pict > img {
    width: 33px;
    height: 17px;
  }
}

.top-img_margin {
  height: 3vw;
}

@media (min-width: 801px) {
  .top-img_margin {
    height: 180px;
  }
}

#part_topImage_main_pict {
  height: 100%;
  width: 100%;
}

#part_topImage_main_pict > div {
  height: 100%;
  width: 100%;
  background: url(../asset/image/anime-min.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root #part_topImage_main_pict > div {
    background: url(../asset/image/オンライン横丁メインアニメ.gif);
  }
}

@media (min-width: 801px) {
  #part_topImage_main_pict > div {
    background-size: contain;
  }
}

.mt3vw {
  height: 3vw;
}

.mt12vw {
  position: relative;
  height: 12vw;
}

.mt16vw {
  position: relative;
  height: 16vw;
  /* border: red solid 10px; */
}
.mt18vw {
  height: 18vw;
}
.mt67vw {
  height: 67vw;
  flex-shrink: 0;
}

@media (min-width: 801px) {
  .mt3vw {
    height: 30.7px;
  }

  .mt12vw {
    position: relative;
    height: 122.9px;
  }
  .mt16vw {
    position: relative;
    height: 163.8px;
  }
  .mt18vw {
    height: 180px;
  }
  .mt67vw {
    height: 670px;
  }
}

p {
  text-align: center;
}

.fade {
  /* 変化用 */
  transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
}

.fade.unscroll {
  /* アニメーション発動前の状態 */
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

#text_on_top_image {
  /* 変化用 */
  animation-name: my-fade-in;
  animation-duration: 3s;
}

/* テスト用コード */

#text_on_top_image {
  z-index: 100;
  line-height: normal;
}

body .text {
  width: calc(20px + 28 * (100vw - 320px) / 480);
}
@media (min-width: 801px) {
  body .text {
    width: 49px;
  }
}
body .text > * {
  font-size: 6vw;
  font-weight: 600;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  text-align: justify;
  text-justify: inter-ideograph;
  font-feature-settings: normal;
  letter-spacing: 3vw;
  text-shadow: 0px 0px 30px #ffffff;
  white-space: nowrap;
}
@media (min-width: 801px) {
  body .text > * {
    font-size: 48px;
    letter-spacing: 24px;
  }
}
