<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common/css/common.css" />
    <link rel="stylesheet" href="/css/buy.css" />
    <link rel="stylesheet" href="/css/card-input.css" />
    <link rel="stylesheet" href="/vendor/three-dots/three-dots.min.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174012826-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174012826-1");
    </script>
    <script>
      (function (d) {
        var config = {
            kitId: "bwu7gyp",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <title>購入</title>
  </head>
  <body>
    <header id="header">
      <div class="part__link-top">
        <a href="/izakaya.html"></a>
      </div>
      <div class="header-img">
        <img src="/asset/image/header-back.png" />
      </div>
    </header>
    <div class="background-img"></div>
    <section id="section">
      <div class="container__main-content">
        <div class="container__ticket">
          <div class="m-w9v"></div>
          <div class="box__ticket">
            <div class="box__ticket-inner">
              <div class="m-h3v"></div>
              <div class="part__ticket-title square-fill">
                <p>入店チケット</p>
              </div>
              <div class="m-h3v"></div>
              <div id="box__izakaya" class="box__izakaya">
                <div class="part__owner-icon">
                  <img :src="izakaya.var店主画像Url" id="owner-icon" v-cloak />
                </div>
                <div class="m-w3v"></div>
                <div class="part__izakaya-name">
                  <div class="part__izakaya-name-bg">
                    <p>ENTRANCE TICKET</p>
                  </div>
                  <div class="part__izakaya-name-text">
                    <p v-cloak>{{ izakaya.var出店名 }}</p>
                  </div>
                </div>
              </div>
              <div class="m-h3v"></div>
            </div>
          </div>
          <div class="m-w9v"></div>
        </div>
        <div class="m-h13v"></div>
        <!-- TODO 参考サイト：https://codepen.io/JavaScriptJunkie/pen/YzzNGeR -->
        <div
          class="wrapper"
          id="card-form-wrapper"
          :class="{ 'free-spacing' : varチケット価格 === 0}"
        >
          <div class="card-form">
            <div
              class="card-list"
              :class="{ 'free-hidden' : varチケット価格 === 0}"
            >
              <div
                class="card-item"
                v-bind:class="{ '-active' : isCardFlipped }"
              >
                <div class="card-item__side -front">
                  <div
                    class="card-item__focus"
                    v-bind:class="{'-active' : focusElementStyle }"
                    v-bind:style="focusElementStyle"
                    ref="focusElement"
                  ></div>
                  <div class="card-item__cover">
                    <img
                      src="/asset/image/card-input-bg.jpeg"
                      class="card-item__bg"
                    />
                  </div>

                  <div class="card-item__wrapper">
                    <div class="card-item__top">
                      <img
                        src="/vendor/interactive-paycard-img/chip.png"
                        class="card-item__chip"
                      />
                      <div class="card-item__type">
                        <transition name="slide-fade-up">
                          <img
                            v-bind:src="'/vendor/interactive-paycard-img/' + getCardType + '.png'"
                            v-if="getCardType"
                            v-bind:key="getCardType"
                            alt=""
                            class="card-item__typeImg"
                          />
                        </transition>
                      </div>
                    </div>
                    <label
                      for="cardNumber"
                      class="card-item__number"
                      ref="cardNumber"
                    >
                      <template v-if="getCardType === 'amex'">
                        <span v-for="(n, $index) in amexCardMask" :key="$index">
                          <transition name="slide-fade-up">
                            <div
                              class="card-item__numberItem"
                              v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                            >
                              *
                            </div>
                            <div
                              class="card-item__numberItem"
                              :class="{ '-active' : n.trim() === '' }"
                              :key="$index"
                              v-else-if="cardNumber.length > $index"
                              v-cloak
                            >
                              {{cardNumber[$index]}}
                            </div>
                            <div
                              class="card-item__numberItem"
                              :class="{ '-active' : n.trim() === '' }"
                              v-else
                              :key="$index + 1"
                              v-cloak
                            >
                              {{n}}
                            </div>
                          </transition>
                        </span>
                      </template>

                      <template v-else>
                        <span
                          v-for="(n, $index) in otherCardMask"
                          :key="$index"
                        >
                          <transition name="slide-fade-up">
                            <div
                              class="card-item__numberItem"
                              v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                            >
                              *
                            </div>
                            <div
                              class="card-item__numberItem"
                              :class="{ '-active' : n.trim() === '' }"
                              :key="$index"
                              v-else-if="cardNumber.length > $index"
                              v-cloak
                            >
                              {{cardNumber[$index]}}
                            </div>
                            <div
                              class="card-item__numberItem"
                              :class="{ '-active' : n.trim() === '' }"
                              v-else
                              :key="$index + 1"
                              v-cloak
                            >
                              {{n}}
                            </div>
                          </transition>
                        </span>
                      </template>
                    </label>
                    <div class="card-item__content">
                      <label
                        for="cardName"
                        class="card-item__info"
                        ref="cardName"
                      >
                        <div class="card-item__holder">Card Holder</div>
                        <transition name="slide-fade-up">
                          <div
                            class="card-item__name"
                            v-if="cardName.length"
                            key="1"
                          >
                            <transition-group name="slide-fade-right">
                              <span
                                class="card-item__nameItem"
                                v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                v-if="$index === $index"
                                v-bind:key="$index + 1"
                                v-cloak
                                >{{n}}</span
                              >
                            </transition-group>
                          </div>
                          <div class="card-item__name" v-else key="2">
                            Full Name
                          </div>
                        </transition>
                      </label>
                      <div class="card-item__date" ref="cardDate">
                        <label for="cardMonth" class="card-item__dateTitle"
                          >Expires</label
                        >
                        <label for="cardMonth" class="card-item__dateItem">
                          <transition name="slide-fade-up">
                            <span
                              v-if="cardMonth"
                              v-bind:key="cardMonth"
                              v-cloak
                              >{{cardMonth}}</span
                            >
                            <span v-else key="2">MM</span>
                          </transition>
                        </label>
                        /
                        <label for="cardYear" class="card-item__dateItem">
                          <transition name="slide-fade-up">
                            <span v-if="cardYear" v-bind:key="cardYear" v-cloak
                              >{{String(cardYear).slice(2,4)}}</span
                            >
                            <span v-else key="2">YY</span>
                          </transition>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-item__side -back">
                  <div class="card-item__cover">
                    <img
                      src="/asset/image/card-input-bg.jpeg"
                      class="card-item__bg"
                    />
                  </div>
                  <div class="card-item__band"></div>
                  <div class="card-item__cvv">
                    <div class="card-item__cvvTitle">CVV</div>
                    <div class="card-item__cvvBand">
                      <span v-for="(n, $index) in cardCvv" :key="$index">
                        *
                      </span>
                    </div>
                    <div class="card-item__type">
                      <img
                        v-bind:src="'/vendor/interactive-paycard-img/' + getCardType + '.png'"
                        v-if="getCardType"
                        class="card-item__typeImg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card-form__inner"
              :class="{ 'free-hidden' : varチケット価格 === 0}"
            >
              <div
                class="card-input"
                :class="{ 'free-hidden' : varチケット価格 === 0}"
              >
                <label for="cardNumber" class="card-input__label"
                  >カード番号</label
                >
                <input
                  type="tel"
                  id="cardNumber"
                  class="card-input__input"
                  v-mask="generateCardNumberMask"
                  v-model="cardNumber"
                  v-on:focus="focusInput"
                  v-on:blur="blurInput"
                  data-ref="cardNumber"
                  autocomplete="off"
                />
              </div>
              <div
                class="card-input"
                :class="{ 'free-hidden' : varチケット価格 === 0}"
              >
                <label for="cardName" class="card-input__label"
                  >カード名義</label
                >
                <input
                  type="text"
                  id="cardName"
                  class="card-input__input"
                  v-model="cardName"
                  v-on:focus="focusInput"
                  v-on:blur="blurInput"
                  data-ref="cardName"
                  autocomplete="off"
                />
              </div>
              <div
                class="card-form__row"
                :class="{ 'free-hidden' : varチケット価格 === 0}"
              >
                <div class="card-form__col">
                  <div class="card-form__group">
                    <label for="cardMonth" class="card-input__label"
                      >有効期限</label
                    >
                    <select
                      class="card-input__input -select"
                      id="cardMonth"
                      v-model="cardMonth"
                      v-on:focus="focusInput"
                      v-on:blur="blurInput"
                      data-ref="cardDate"
                    >
                      <option value="" disabled selected>Month</option>
                      <option
                        v-bind:value="n < 10 ? '0' + n : n"
                        v-for="n in 12"
                        v-bind:disabled="n < minCardMonth"
                        v-bind:key="n"
                        v-cloak
                      >
                        {{n < 10 ? '0' + n : n}}
                      </option>
                    </select>
                    <select
                      class="card-input__input -select"
                      id="cardYear"
                      v-model="cardYear"
                      v-on:focus="focusInput"
                      v-on:blur="blurInput"
                      data-ref="cardDate"
                    >
                      <option value="" disabled selected>Year</option>
                      <option
                        v-bind:value="$index + minCardYear"
                        v-for="(n, $index) in 12"
                        v-bind:key="n"
                      >
                        {{$index + minCardYear}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="card-form__col -cvv">
                  <div
                    class="card-input"
                    :class="{ 'free-hidden' : varチケット価格 === 0}"
                  >
                    <label for="cardCvv" class="card-input__label"
                      >セキュリティコード</label
                    >
                    <input
                      type="password"
                      class="card-input__input"
                      id="cardCvv"
                      v-mask="'####'"
                      maxlength="4"
                      v-model="cardCvv"
                      v-on:focus="flipCard(true)"
                      v-on:blur="flipCard(false)"
                      autocomplete="off"
                    />
                  </div>
                </div>
              </div>
              <div class="card-form__row">
                <div class="card-form__col card-input">
                  <div class="card-input">
                    <label for="emailAddress" class="card-input__label"
                      >メールアドレス</label
                    >
                    <input
                      type="email"
                      id="email"
                      class="card-input__input"
                      placeholder="name@example.com"
                    />
                  </div>
                </div>
              </div>

              <div class="card-form__row">
                <div class="card-form__col card-input">
                  <div class="card-input">
                    <label for="purchaser-name" class="card-input__label"
                      >Zoom上で表示するお名前
                      <br class="sp_bk" />
                      (ニックネーム等も可能です。)</label
                    >
                    <input
                      type="purchaser-name"
                      id="purchaser-name"
                      maxlength="30"
                      class="card-input__input"
                    />
                  </div>
                  　
                </div>
              </div>
              <div
                class="card-form__row"
                :class="{ 'free-hidden' : varチケット価格 === 0}"
              >
                <div class="card-form__col">
                  <div class="card-input">
                    <label for="cardNumber" class="card-input__label"
                      >合計額(消費税10%込)</label
                    >
                    <div class="part__price-text">
                      <p v-cloak>
                        ¥{{ varチケット価格 + " / " + var単位時間 + "分"}}
                      </p>
                    </div>
                    <div class="part__bill-text">
                      <p v-cloak>内訳： 参加費 ¥{{ varチケット価格 }} x 1</p>
                    </div>
                  </div>
                </div>
              </div>

              <button
                id="purchase-btn"
                class="card-form__button"
                v-on:click="submitPurchase"
              >
                申し込み
              </button>
            </div>
          </div>
        </div>
        <div id="container__loading" class="container__loading">
          <!-- TODO:参考サイト https://github.com/nzbin/three-dots -->
          <div class="dot-spin"></div>
        </div>
        <div id="container__modal" class="container__modal">
          <div class="m-w9v"></div>
          <div class="box__modal" :class="{ 'active' : modalActive }">
            <div class="part__modal-title">
              <p v-cloak>{{ msg.title }}</p>
            </div>
            <div id="part__modal-icon" class="part__modal-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-alert-triangle"
                width="68"
                height="68"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#FFEB3B"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <path d="M12 9v2m0 4v.01" />
                <path
                  d="M5.07 19H19a2 2 0 0 0 1.75 -2.75L13.75 4a2 2 0 0 0 -3.5 0L3.25 16.25a2 2 0 0 0 1.75 2.75"
                />
              </svg>
            </div>
            <div class="m-h2v"></div>
            <div class="part__modal-text">
              <p v-cloak>{{ msg.text }}</p>
            </div>
            <div class="m-h6v"></div>
            <template v-if="!closable">
              <div class="part__btn-top">
                <a href="/index.html">Topへ戻る</a>
              </div>
            </template>
            <template v-else>
              <div class="part__btn-top">
                <a @click="tojiru">戻る</a>
              </div>
            </template>
          </div>
          <div class="m-w9v"></div>
        </div>
        <div class="m-h13v"></div>
      </div>
    </section>
    <script src="https://cdn.omise.co/omise.js"></script>
    <script defer src="/js/buy.js"></script>
  </body>
</html>
