<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/common/css/common.css" />
    <script defer src="/js/detail.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174012826-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174012826-1");
    </script>
    <script>
      (function (d) {
        var config = {
            kitId: "bwu7gyp",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <title>店舗詳細</title>
  </head>
  <body>
    <header id="header">
      <div class="part__link-top">
        <a href="/izakaya.html"></a>
      </div>
      <div class="header-img">
        <img src="/asset/image/header-out.png" />
      </div>
    </header>
    <div class="background-img"></div>
    <section id="section">
      <div class="container__main-content">
        <div class="m-w16_5v"></div>
        <div class="container">
          <div id="izakaya-content" class="izakaya-content">
            <div class="izakaya-box">
              <div
                class="izakaya-overview"
                :class="{ 'disable' : izakaya.var残り席数 == izakaya.var席数}"
              >
                <div class="owner-icon">
                  <img :src="izakaya.var店主画像Url" id="owner-icon" />
                </div>
                <div class="m-h4_5v"></div>
                <div class="izakaya-name">
                  <h2 v-cloak>{{ izakaya.var出店名 }}</h2>
                </div>
                <div class="m-h6v"></div>
                <div class="izakaya-tags">
                  <div class="price">
                    <!-- FIXME 50分べた打ち。DTOから修正 -->
                    <p v-cloak>¥{{ izakaya.varチケット価格 }} / 50分</p>
                  </div>
                  <div class="m-w3v"></div>
                  <div class="congestion-item">
                    <div class="congestion-icon">
                      <img src="/asset/image/Icon_ionic-md-person.png" />
                    </div>
                    <div class="m-w0_5v"></div>
                    <div class="congesiton-text">
                      <p v-cloak>
                        {{ izakaya.var残り席数 + "/" + izakaya.var席数 }}
                      </p>
                    </div>
                  </div>
                  <div class="m-w3v"></div>
                  <div v-if="izakaya.var残り席数 == izakaya.var席数">
                    <div class="entry-available full">
                      <p>満席</p>
                    </div>
                  </div>
                  <div v-else>
                    <div class="entry-available">
                      <p>入店可</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-h4_5v"></div>
              <div class="profile-title">
                <p>店主のプロフィール</p>
              </div>
              <div class="m-h4_5v"></div>
              <div class="owner-name">
                <p v-cloak>店主： {{ izakaya.var店主名 }}</p>
              </div>
              <div class="genre">
                <p v-cloak>
                  トークジャンル： {{
                  izakaya.varVoトークジャンル.varトークジャンル }}
                </p>
              </div>
              <div class="m-h4_5v"></div>
              <div class="description-title">
                <p>お店の説明</p>
              </div>
              <div class="description-text">
                <p v-cloak>{{ izakaya.varお店の説明 }}</p>
              </div>
            </div>
            <div class="m-h4v"></div>
            <div class="buy-content">
              <template v-if="izakaya.var残り席数 == izakaya.var席数">
                <div class="full-text">
                  <p>現在満席です</p>
                </div>
              </template>
              <template v-else>
                <div class="charge-link">
                  <a :href="'/buy.html?id=' + izakaya.varVo出店Id.var出店Id">
                    <!-- <a href="https://forms.gle/bceJsJRtPKu7oGsk6">  -->
                    申し込み</a
                  >
                </div>
              </template>
              <div class="m-h4v"></div>
              <div class="info-text">
                <p>
                  購入後ZoomのURLが届きます。<br />
                  チケットの有効時間カウントダウンはZoomでトークルームに<br />
                  入った時点からのカウントです。
                </p>
              </div>
            </div>
            <div class="m-h5v"></div>
          </div>
        </div>
        <div class="m-w16_5v"></div>
      </div>
    </section>
  </body>
</html>
