<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/detail.scss" />
    <link rel="stylesheet" href="/vendor/three-dots/three-dots.min.css" />
    <script defer src="/js/detail.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174012826-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174012826-1");
    </script>
    <script>
      (function (d) {
        var config = {
            kitId: "bwu7gyp",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <meta
      name="description"
      content="知らない人とオンライン飲み会してみたい方へ。Zoomで色々なコンセプトの店主さんと会話が出来ます。店主さんや相席した人達と楽しく話そう！"
    />
    <meta property="og:title" content="オンライン横丁 flatto" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yokocho.flatto.online" />
    <meta property="og:description" content="ふらっと自宅で飲み歩こう。" />
    <meta property="og:image" content="https://yokocho.flatto.online/ogp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>店舗詳細</title>
  </head>
  <body>
    <header id="header">
      <div class="part__link-top">
        <a href="/izakaya.html"></a>
      </div>
      <div class="header-img">
        <img src="/asset/image/header-back.png" width="1125" height="806" />
      </div>
    </header>
    <div class="background-img"></div>
    <section id="section">
      <div id="container__main-content" class="container__main-content">
        <div
          class="box__vip-heading"
          :class="{ 'active' : izakaya.var合言葉設定 }"
        >
          <div class="part__vip-heading-title">
            <p>VIP限定ラウンジ</p>
          </div>
          <div class="part__vip-heading-text">
            <p>チケットの購入には店主様が設定した合言葉が必要です。</p>
          </div>
        </div>
        <div class="container">
          <div id="izakaya-content" class="izakaya-content">
            <div class="izakaya-box">
              <div
                class="izakaya-overview"
                :class="{ 'disable' : izakaya.var埋まっている席数 == izakaya.var席数,
                          'vip' : izakaya.var合言葉設定 }"
              >
                <div class="owner-icon">
                  <img
                    :src="izakaya.var店主画像Url"
                    id="owner-icon"
                    width="198"
                    height="198"
                  />
                </div>
                <div class="m-h4_5v"></div>
                <div class="izakaya-name">
                  <h2 v-cloak>{{ izakaya.var出店名 }}</h2>
                </div>
                <div class="m-h6v"></div>
                <div class="izakaya-tags">
                  <div class="price" :class="{ 'vip' : izakaya.var合言葉設定 }">
                    <p v-cloak>
                      ¥{{ izakaya.varチケット価格 + "/" + izakaya.var単位時間 +
                      "分"}}
                    </p>
                  </div>
                  <div class="m-w3v"></div>
                  <div class="congestion-item">
                    <div class="congestion-icon">
                      <img src="/asset/image/Icon_ionic-md-person.png" />
                    </div>
                    <div class="m-w0_5v"></div>
                    <div class="congesiton-text">
                      <p v-cloak>
                        {{ izakaya.var埋まっている席数 + "/" + izakaya.var席数
                        }}
                      </p>
                    </div>
                  </div>
                  <div class="m-w3v"></div>
                  <div v-if="izakaya.var埋まっている席数 == izakaya.var席数">
                    <div class="entry-available full">
                      <p>満席</p>
                    </div>
                  </div>
                  <div v-else>
                    <div class="entry-available">
                      <p>入店可</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-h3v"></div>
              <div class="profile-title">
                <p>店主のプロフィール</p>
              </div>
              <div class="m-h1v"></div>
              <div class="owner-name">
                <p v-cloak>店主名： {{ izakaya.var店主名 }}</p>
              </div>
              <div class="m-h0_5v"></div>
              <div class="genre">
                <p v-cloak>
                  トークジャンル： {{
                  izakaya.varVoトークジャンル.varトークジャンル }}
                </p>
              </div>
              <div class="m-h3v"></div>
              <div class="description-title">
                <p>店主からのメッセージ</p>
              </div>
              <div class="description-text pre-line">
                <p v-cloak>{{ izakaya.var自己紹介文 }}</p>
              </div>
              <div class="m-h3v"></div>
              <div class="description-title">
                <p>お店の説明</p>
              </div>
              <div class="description-text">
                <p v-cloak>{{ izakaya.varお店の説明 }}</p>
              </div>
              <div class="m-h3v"></div>
              <div class="description-title">
                <p>開店期間</p>
              </div>
              <div class="description-text">
                <p v-cloak>
                  {{ izakaya.var開店時間 }} 〜<br />
                  {{ izakaya.var閉店時間 }}
                </p>
              </div>
            </div>
            <div class="m-h4v"></div>
            <div class="buy-content">
              <template v-if="izakaya.var埋まっている席数 == izakaya.var席数">
                <div class="full-text">
                  <p>現在満席です</p>
                </div>
              </template>
              <template v-else>
                <!-- <template v-if="izakaya.varVoステータス.Voステータス == '開店中'">

                </template> -->

                <div
                  class="charge-link"
                  :class="{ 'vip' : izakaya.var合言葉設定 }"
                >
                  <a :href="chargeLinkPath" v-on:click.prevent="fnOnClick">
                    <!-- 手作業抽選用：<a href="https://forms.gle/bceJsJRtPKu7oGsk6">  -->
                    申し込み</a
                  >
                </div>
              </template>
              <div class="m-h4v"></div>
              <div class="info-text">
                <p>
                  購入後ZoomのURLが届きます。<br />
                  チケットの有効時間カウントダウンはZoomでトークルームに<br />
                  入った時点からのカウントです。
                </p>
              </div>
            </div>
            <div class="m-h5v"></div>
          </div>
        </div>
        <div id="container__loading" class="container__loading">
          <!-- TODO:参考サイト https://github.com/nzbin/three-dots -->
          <div class="dot-spin"></div>
        </div>
      </div>
      <div id="container__modal" class="container__modal">
        <div class="m-w9v"></div>
        <div class="box__modal" :class="{ 'active' : modalActive }">
          <div class="part__modal-title">
            <p>合言葉を入力してください</p>
          </div>
          <div id="part__modal-icon" class="part__modal-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-alert-triangle"
              width="68"
              height="68"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#FFEB3B"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" />
              <path d="M12 9v2m0 4v.01" />
              <path
                d="M5.07 19H19a2 2 0 0 0 1.75 -2.75L13.75 4a2 2 0 0 0 -3.5 0L3.25 16.25a2 2 0 0 0 1.75 2.75"
              />
            </svg>
          </div>
          <div class="m-h2v"></div>
          <div class="part__countersign-input">
            <input
              type="text"
              name="合言葉"
              placeholder="合言葉を入力してください"
              maxlength="20"
            />
          </div>
          <div class="m-h2v"></div>
          <div class="part__modal-text">
            <p v-cloak>{{ msg.text }}</p>
          </div>
          <div class="m-h2v"></div>
          <div class="box__cushion-link">
            <div class="part__link-text">
              <p>
                このお店は合言葉を知っている人だけが参加できます。<br />
                合言葉がわからない場合は店主にお聞き下さい
              </p>
            </div>
          </div>
          <div class="m-h3v"></div>
          <div class="box__btn-group">
            <template v-if="closable">
              <div class="part__btn-top">
                <a href="#" @click="tojiru">キャンセル</a>
              </div>
            </template>
            <div class="m-w3v"></div>
            <div class="part__btn-top ok">
              <a href="#" @click="fnConfirm">OK</a>
            </div>
          </div>
        </div>
        <div class="m-w9v"></div>
      </div>
    </section>
  </body>
</html>
