<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/izakaya.scss" />
    <script src="/js/izakaya.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174012826-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-174012826-1");
    </script>
    <script>
      (function (d) {
        var config = {
            kitId: "bwu7gyp",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <meta
      name="description"
      content="知らない人とオンライン飲み会してみたい方へ。Zoomで色々なコンセプトの店主さんと会話が出来ます。店主さんや相席した人達と楽しく話そう！"
    />
    <meta property="og:title" content="オンライン横丁 flatto" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yokocho.flatto.online" />
    <meta property="og:description" content="ふらっと自宅で飲み歩こう。" />
    <meta property="og:image" content="https://yokocho.flatto.online/ogp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>店舗一覧</title>
  </head>
  <body>
    <header id="header">
      <div class="part__link-to-top">
        <a href="/index.html"></a>
      </div>
      <img class="header-img" src="/asset/image/header-back.png" />
    </header>
    <div class="background-img"></div>
    <section id="section">
      <div class="container__main-content">
        <div class="m-w16_5v"></div>
        <div class="container">
          <p class="navi-text">↓クリックで詳細表示↓</p>
          <div class="m-h6v"></div>
          <div id="izakaya-content" class="izakaya-content">
            <div
              :id="item.id"
              class="izakaya-box"
              v-for="(item , index) in izakaya_list"
            >
              <div class="izakaya-item">
                <a
                  class="part__cover detail-link"
                  :href="'/detail.html?id=' + item.varVo出店Id.var出店Id"
                ></a>
                <div class="part__cover harigami" :class="item.表示パターン">
                  <!-- <div class="part__status-text">
                    <template v-if="item.表示パターン == '閉店中'">
                      <p>閉店中</p>
                    </template>
                    <template v-if="item.表示パターン == '満席'">
                      <p>現在満席</p>
                    </template>
                  </div> -->
                  <div class="m-h2v"></div>
                  <div class="part__comment-text">
                    <!-- TODO <p v-cloak>{{ item.comment }}</p> -->
                  </div>
                </div>
                <img
                  class="owner-icon"
                  :src="item.var店主画像Url"
                  alt=""
                  id="owner-icon"
                />
                <div class="m-h3v"></div>
                <h2 class="izakaya-name" v-cloak>{{ item.var出店名 }}</h2>
                <div class="m-h2v"></div>
                <p class="izakaya-info genre" v-cloak>
                  【トークジャンル】<br />{{
                  item.varVoトークジャンル.varトークジャンル }}
                </p>
                <div class="m-h3v"></div>
                <p class="izakaya-info owner-name" v-cloak>
                  【店主名】<br />{{ item.var店主名 }}
                </p>
                <div class="m-h3v"></div>
                <p class="izakaya-info duration" v-cloak>
                  【開店期間】<br />{{ item.var開店時間}} 〜<br />
                  {{item.var閉店時間}}
                </p>
                <div class="m-h3v"></div>
                <div class="izakaya-tags">
                  <div class="price">
                    <p v-cloak>
                      ¥{{ item.varチケット価格 }} / {{ item.var単位時間 }}分
                    </p>
                  </div>
                  <template
                    v-if="item.varVoステータス.varステータス != 'close'"
                  >
                    <div class="congestion-item">
                      <div class="congestion-icon">
                        <img src="/asset/image/Icon_ionic-md-person.png" />
                      </div>
                      <div class="m-w0_5v"></div>
                      <div class="congesiton-text">
                        <p v-cloak>
                          {{ item.var埋まっている席数 + "/" + item.var席数 }}
                        </p>
                      </div>
                    </div>
                    <div v-if="item.var埋まっている席数 == item.var席数">
                      <div class="entry-available full">
                        <p>満席</p>
                      </div>
                    </div>
                    <div v-else>
                      <div class="entry-available">
                        <p>入店可</p>
                      </div>
                    </div>
                  </template>
                </div>
                <div class="m-h5v"></div>
                <template v-if="item.表示パターン == '満席'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-full">満席</div>
                  </div>
                </template>
                <template v-if="item.表示パターン == '開店待ち'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-willOpen">
                      開店待ち
                    </div>
                  </div>
                </template>
                <template v-if="item.表示パターン == '抽選受付中'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-lottery">
                      抽選受付中
                    </div>
                  </div>
                </template>
                <template v-if="item.表示パターン == '予約受付中'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-reserve">
                      予約受付中
                    </div>
                  </div>
                </template>
                <template v-if="item.表示パターン == '開店中'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-open">開店中</div>
                  </div>
                </template>
                <template v-if="item.表示パターン == '閉店中'">
                  <div class="izakaya-tags">
                    <div class="display-status display-status-close">
                      閉店中
                    </div>
                  </div>
                </template>
              </div>
              <div class="m-h13v"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
