<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./common/css/common.css" />
    <link rel="stylesheet" href="./css/referIzakayas.css" />
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.js"
      integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"
      integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ=="
      crossorigin="anonymous"
    ></script>
    <title>オンライン横丁 flatto -出店一覧-</title>
  </head>
  <body>
    <!-- Scrolls -->
    <div id="main">
      <div class="container container_title">
        <div class="area area_title">
          <div class="part part_title"><p>出店一覧</p></div>
        </div>
	  </div>
	  <div id="izakaya-content" class="izakaya-content">
      <div class="container container_izakayas">
        <div class="m-h6v"></div>
        <div
          :id="item.id"
          class="area area_izakaya"
          v-for="(item , index) in izakaya_list"
        >
          <div class="part part_izakaya_title"><p>テスト</p></div>
          <div class="part part_izakaya_ticketType"><p>抽選予約型</p></div>
          <div class="part part_izakaya_duration">
            <p>2020/10/30 22:00〜2020/10/30 23:00</p>
          </div>
          <div class="m-h1_5v"></div>
          <div class="part area_izakaya_lotteryInfo">
            <!-- <template v-if="1==1"> -->
            <div class="part part_izakaya_lotteryInfoTitle">
              <p>抽選情報</p>
            </div>
            <div class="part part_izakaya_applicationDeadline">
              <p>【応募締切り日時】 2020/10/30 10:00</p>
            </div>
            <div class="part part_izakaya_lotteryDeadline">
              <p>【抽選完了日時】 2020/10/30 12:00</p>
            </div>
            <div class="part part_izakaya_status">
              <p>現在：応募受付中</p>
            </div>
            <div class="m-h4v"></div>
            <div class="part part_izakaya_btnMoveToLottery">
			  <a id="btnMoveToLottery"
			  :href="'/detail.html?id=' + item.varVo出店Id.var出店Id"
			  >応募状況を確認/抽選を行う</a>
            </div>
            <div class="m-h4v"></div>
            <!-- </template> -->
          </div>
          <div class="m-h1_5v"></div>
        </div>
        <div class="m-h6v"></div>
      </div>
      <div class="container container_btnBack">
        <div class="area area_btnBack">
          <div class="part part_btnBack">
            <a id="btnBack">店主メニューに戻る</a>
          </div>
        </div>
      </div>
    </div>
    <script src="./common/js/firebaseAuth.js"></script>
    <script src="/js/referIzakayas.js"></script>
  </body>
</html>
